<div>
  <form #personForm="ngForm" (ngSubmit)="submitForm(personForm)" novalidate>
    <div>
      Enter First name
      <input
        type="text"
        [(ngModel)]="person.firstName"
        required
        pattern="[A-Za-z]"
        #firstName="ngModel"
        name="fname"
      />
      <div *ngIf="personForm.submitted && firstName.invalid">
        <div *ngIf="firstName.errors.required">First Name is required!</div>
        <div *ngIf="firstName.errors.pattern">Invalid value for First Name</div>
      </div>
    </div>
    <div>
      Enter Last Name
      <input
        type="text"
        [(ngModel)]="person.lastName"
        required
        pattern="[A-Za-z]"
        #lastName="ngModel"
        name="lname"
      />
      <div *ngIf="personForm.submitted && lastName.invalid">
        <div *ngIf="lastName.errors.required">Last Name is required!</div>
        <div *ngIf="lastName.errors.pattern">Invalid value for Last Name</div>
      </div>
    </div>
    <div>
      <button type="submit">Submit</button>
      <button type="button" (click)="clearForm(personForm)">Reset</button>
    </div>
    <div *ngIf="personForm.submitted && personForm.valid">
      <p>FirstName: {{ person.firstName }}</p>
      <p>LastName: {{ person.lastName }}</p>
    </div>
  </form>
</div>
