<mat-card>
  <mat-card-header>
    <mat-card-title>Log In Form</mat-card-title>
  </mat-card-header>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="username" />
    </mat-form-field>
    <br /><br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" />
    </mat-form-field>
    <br /><br />
    <section>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
      </div>
    </section>
  </form>
</mat-card>
